$light-overlay: rgba(238,223,166,0.3);
$light-color: #EEDFA6;

.navbar{
  border-bottom:$light-color 3px solid;
  opacity: 0.8;
}

#about-section {
  background: url('../img/macbook.jpeg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .light-overlay {
    background-color: $light-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }
}
