$dark-overlay: rgba(0,0,0,0.3);
$dark-color: #333;
$light-color: #fff;
$icon-size:48px;

.navbar{
  border-bottom:$light-color 3px solid;
  opacity: 0.9;
}

#about-section {
  background: url('../img/macbook.jpeg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }
}

#skills-section {
  .fa {
    color: $dark-color;
    background: $light-color;
    padding: 6px;
    margin: 10px;
    border-radius: 100px;
    font-size: $icon-size;
  }
}
